<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <div class="container">
        <p>Please click on below link to reset your password</p>
        <p> <strong>Note:-</strong> This link valid for 2 hours only </p>
        <a href="<%= url %>" target="_blank" >click on this url</a>
        <p>if you are not able to click above link then pls follow below url</p>
        <p><%= url %></p>
        <%- include('../partials/footer.ejs') %>


    </div>
</body>
</html>
